<h1>Şifremi Unuttum</h1>
<hr />

<div class="container box-shadow" style="background-color: cornsilk">
  <div class="row p-3">
    <form asp-action="ForgotPassword" method="post">
      <div class="mb-3">
        <label for="Email" class="form-label"></label>
        <input name="Email" type="email" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Sıfırla</button>
    </form>
  </div>
</div>