@model StoreApp3.Models.OrderModel



<div class="row mt-5">
    <div class="col-md-8">
        <h4 class="mb-3">Sipariş Detayı</h4>
        <hr>

        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" asp-action="Checkout">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="row">
                <div class="col">
                     <label asp-for="City"></label>
                     <input asp-for="City" class="form-control">
                </div>
                <div class="col">
                     <label asp-for="Phone"></label>
                     <input asp-for="Phone" class="form-control">
                </div>
                <div class="col">
                     <label asp-for="Email"></label>
                     <input asp-for="Email" class="form-control">
                </div>
                  <div class="mb-3">
                <label asp-for="AddressLine"></label>
                <textarea asp-for="AddressLine" class="form-control"></textarea>
            </div>
            </div>
            <h4 class="my-3">Ödeme Bilgileri</h4>
            <div class="row">
                <div class="col">
                     <label asp-for="CartName"></label>
                     <input asp-for="CartName" class="form-control">
                </div>
                <div class="col">
                     <label asp-for="CartNumber"></label>
                     <input asp-for="CartNumber" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                     <label asp-for="ExpirationMonth"></label>
                     <input asp-for="ExpirationMonth" class="form-control">
                </div>
                <div class="col">
                     <label asp-for="ExpirationYear"></label>
                     <input asp-for="ExpirationYear" class="form-control">
                </div>
                <div class="col">
                     <label asp-for="Cvc"></label>
                     <input asp-for="Cvc" class="form-control">
                </div>
            </div>

            <button type="submit" class="mb-3 btn custom-btn">Submit</button>
        </form>
    </div>
   <div class="col-md-4">
    <h4 class="mb-3">Sipariş Özeti</h4>
    <ul class="list-group mb-3" >
   
        @foreach (var item in Model.Cart.Items)
        {
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6>@item.Product.Title x @item.Quantity</h6> 
                </div>
                <span>@(item.Product.Price?.ToString("c") ?? "0.00")</span>
            </li>
        }
        <li class="list-group-item d-flex justify-content-between">
            <span>Toplam: </span>
            <strong>@Model?.Cart?.CalculateTotal().ToString("c")</strong>
        </li>
    </ul>
</div>
</div>