@model List<Product>

<div class="row">
    <div class="col-md-3">
    
          <div  class="card shadow-sm border-0 rounded-4 p-3 bg-light">
            <h5 class="fw-bold text-center mb-3">
              <a style="text-decoration : none; color : #212529;" href="/Home/List">Kategoriler</a>
            </h5>
            <ul class="list-group list-group-flush">

              <li class="list-group-item bg-transparent border-0">
                <a class="text-decoration-none text-dark fw-semibold d-block text-center py-2">
                  Kitap
                </a>
              </li> 
              <li class="list-group-item bg-transparent border-0">
                <a class="text-decoration-none text-dark fw-semibold d-block text-center py-2">
                  Telefon
                </a>
              </li> 
              <li class="list-group-item bg-transparent border-0">
                <a class="text-decoration-none text-dark fw-semibold d-block text-center py-2">
                  Ayakkabı
                </a>
              </li> 

            </ul>
          </div>

    </div>
    <div class="col-md-9">
        @foreach (var prd in Model)
        {
            <div class="col-md-4 mb-3">
                    <div class="card shadow product-card">
                    <a href="">
                        <img src="~/img/@prd.Image" class="card-img-top" alt="Kulaklık" />
                        </a>
                        <div class="card-body">
                       <a href="" style="text-decoration: none; color: #212529;">
                        <h5 class="card-title">@prd.Title</h5>
                      </a>

                        <p class="card-text">
                            @prd.Description
                        </p>
                        <p class="text-warning">₺ @prd.Price</p>

                       
                        <button type="submit" class="btn custom-btn">Sepete Ekle</button>

                        </div>
                    </div>
            </div>
        }
    </div>
</div>