.product-img {
  height: 400px;
  object-fit: cover;
}
.custom-btn {
  background: #343a40;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background 0.3s ease-in-out, transform 0.2s, color 0.3s;
}
.custom-btn:hover {
  background: #212529;
  color: #f8f9fa;
  transform: scale(1.1);
}
