.product-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s;
}
.thumbnail.active {
  border-color: black;
}
.size-btn {
  margin: 3px;
}
.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}
.color-circle.active {
  border: 2px solid black;
}
