.category-link {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 4px;
}

.category-link:hover {
  background-color: #f8f9fa;
  color: #212529;
}

.category-link:active {
  color: #fff;
  background-color: #212529;
}

.card h5 a {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 12px 0;
  margin-bottom: 20px;
}

.card h5 a:hover {
  background-color: #343a40;
  color: white;
}
/* ------- */
.product-card {
  background-color: #1e1e1e;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #f1f1f1;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.product-card .card-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

.product-card .card-text {
  color: #cfcfcf;
  font-size: 0.9rem;
}

.product-card .fw-bold {
  color: #f1f1f1;
  font-size: 1.1rem;
}

.favorite-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.2rem;
  color: #aaa;
  z-index: 1;
  transition: color 0.3s ease;
  cursor: pointer;
}

.favorite-icon:hover {
  color: #ff4757;
}

.add-to-cart-btn {
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #fff;
  color: #1e1e1e;
}
